Out/
Modes/
Plots/
OldGEF/
Notebooks/
Config/
.ipynb_checkpoints/
__pycache__
*.zip
.vscode/
GEFF.egg-info/

!src/Data/EffDoF.dat
!src/Data/strains/*.dat
!src/Data/power-law-integrated_sensitivities/*.dat
!Debug/DebugData.zip



