Out/
Modes/
Plots/
OldGEF/
Notebooks/
Config/
.ipynb_checkpoints/
*.ipynb
__pycache__
*.zip
*.dat
.vscode/
GEFF.egg-info/
geff.egg-info/
Debug/*.py

!src/geff/data/*
!src/geff/data/plis/*
!src/geff/data/strains/*

!Debug/DebugData.zip



