Out/
Modes/
Plots/
OldGEF/
Notebooks/
Config/
.ipynb_checkpoints/
*.ipynb
__pycache__
*.zip
*.dat
.vscode/
GEFF.egg-info/
Debug/*.py

!src/GEFF/data/*
!src/GEFF/data/plis/*
!src/GEFF/data/strains/*

!Debug/DebugData.zip



